<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Lance Knickerbocker. Freelance writer and communications specialist.">
    <meta property="og:description" content="Lance Knickerbocker. Freelance writer and communications specialist." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'lance-cover.jpg' %}" />


    <title>lance knickerbocker</title

    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->

  </head>

  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">lance knickerbocker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="http://www.twitter.com/lanceactually">Twitter</a>
      <a class="nav-item nav-link" href="{% static 'lance-resume.pdf' %}">CV</a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/lance-knickerbocker-526683163/">LinkedIn</a>
    </div>
  </div>
</nav>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
        <h1>lance knickerbocker</h1>
        <br>
         <img height=200 class="rounded-circle" alt= "lance knickerbocker" src="{% static 'lance-photo.png' %}">
        <br><br>
        <p class="lead text-muted" >Freelance writer, copywriter, and communications specialist based out of Philadelphia.</p>
        <p class="text-justify"><h6>Thanks to our global pandemic I had time to consider the usefulness of a page containing links to my stories and articles. Maybe a blog or two. It seemed wise to provide a single entryway to my work which, such as it is, might be difficult to locate scattered around the internet.</h6></p>

        <a href="mailto:lhknickerbocker@gmail.com" class="btn btn-primary my-2">email</a>

    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

            {% for job in jobs.all|dictsort:"placeholder" %}

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{{ job.linktoarticle }}"><img class="card-img-top" src="{{ job.image.url }}"></a>
                        <div class="card-body">
                <p class="text-center" "card-text">{{ job.summary }}</p>
                        </div>
                </div>
            </div>
        {% endfor %}

</main>

<footer class="text-muted">
  <div class="container" text-center>
   <p class="text-center">© Copyright lance knickerbocker {% now "Y" %}</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script></body>
</html>
